<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Maximilian Knott</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
  <body>
    <div class="nav">
      <a href="index.html">HOME</a>
      <a href="design.html">DESIGN</a>
      <a href="https://www.instagram.com/itsjustmaximilian/">INSTAGRAM</a>
      <a href="info.html">INFO</a>
    </div>

    <div class="gallery">
      <div class="column left">
        <img src="female3.png">
        <img src="female1.png">
        <img src="starchild2.png">
        <img src="peggy4.png">

        <img src="peggy3.png">
      </div>

      <!--
      <div class="column center">



      </div>
      -->
      <div class="column right">
        <img src="starchild.png">
        <img src="peggy2.png">
        <img src="peggy.png">
        <img src="peggy5.png">
      </div>
    </div>

    <div class="footer">
      <p>Created by Maximilian Knott</p>
    </div>
  </body>
</html>
